.skillset {
 border: 0cap;
} 

.card {
    width: 90%;
}

.icon, .skilltitle {
    width: 30%;
    margin-top: 30px;
    fill: aliceblue;
    color: aliceblue;
}

.skillIcon {
    fill: aliceblue;
}

.divider {
    width: 70%;
    border-top: 1px solid white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
  position: relative;
  border:  white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }

.border-draw {
  position: absolute;
  border: 2px solid transparent;
}

.border-draw-top-right {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}

.border-draw-bottom-left {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}