.skillset {
 border: 0cap;
} 

.card {
    width: 90%;
}

.icon, .skilltitle {
    width: 30%;
    margin-top: 30px;
    fill: aliceblue;
    color: aliceblue;
}

.skillIcon {
    fill: aliceblue;
}

.divider {
    width: 70%;
    border-top: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 1300px) {
.container {
    flex-direction: column;
}
    
}