

input, textarea{
    width: 80%;
    background-color: transparent;

}

textarea {
    width: 80%;
    height: 10rem;
}


.sectionContainer, .mapContainer {

     border: 0cap;
}

fieldset {
    border: white 3px solid;
    padding: 10px;

}

label > p {
    font-weight: 600;
    color: aliceblue;
}