.filterbtn {
        margin: 5% 0;
        border-radius: 10 10 10 10;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease-in-out;
      }