.florez {
  border-radius: 50%;
  width: auto; /* Adjust the width to control the shape */
  height: 100%; /* Set height to maintain aspect ratio */
  object-fit: cover;
      box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}