.florez {
  margin-top: 3%;
  border-radius: 56%;
  width: 80%; /* Adjust the width to control the shape */
  height: 92%; /* Set height to maintain aspect ratio */
  /* object-fit: cover; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}

#home, .icons  {
  color: aliceblue;
  fill: antiquewhite;

}


.btn {
  color: aliceblue;
  font-size: larger;

}


